* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: radial-gradient(circle, #0f0f1f 0%, #000 100%);
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}
